@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* body {
    background-color: grey;
} */

nav {
    background-color: white;
    /* padding: 1rem 0; */
    /* width: auto; */
}

.navbar .logo {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 1rem;
}


.navbar .logo .logo-img img{
    width: 2rem;
}

.navbar .logo .logo-title {
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    font-weight: 700;
}

.navbar ul {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-top: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    color: #4F5665;
    font-size: 1rem;
    font-weight: 400;
}

.navbar ul li a:hover {
    color: #6A4029;
    font-weight: 600;
}

.navbar .input {
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar .input .btn-login {
    text-decoration: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #0B132A;
    padding: 0 2rem;
}

.navbar .input .btn-login:hover {
    color: #FFBA33;
}

.navbar .input .btn-login:active {
    position: relative;
    top: .2rem;
}


.navbar .input .btn-sign {
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #6A4029;
    background-color: #FFBA33;
    padding: .5rem 2rem;
    border-radius: 2rem;
    width: 8rem;
}

.navbar .input .btn-sign a {
    text-decoration: none;
    color: #6A4029;
}

.navbar .input .btn-sign:hover {
    transform: scale(1.1);
    transition: .5s;
}

.navbar .input .btn-sign:active {
    position: relative;
    top: .2rem;
}


/* menu content */
main .container-fluid {
    background-image: url(img/background-home.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 1rem;
}
.search .search-bar {
    background-color: #EFEEEE;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 1rem;
    width: 25%;
    border-radius: 2rem;
}
.search .search-bar img {
    width: 1rem;
}

.search .search-bar input {
    border: none;
    background-color: #EFEEEE;
    width: 100%;
}

.menu-content {
    margin-top: 5rem;
}

.menu-content h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.menu-content p {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.menu-content button {
    border: none;
    background-color: #FFBA33;
    font-size: 1rem;
    font-weight: 700;
    color: #6A4029;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: .5rem;
}

.menu-content button:hover {
    transform: scale(1.1);
    transition: .5s;
}

.menu-content button:active {
    position: relative;
    top: .2rem;
}

.status-img img {
    position: relative;
    top: 10rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

/* @media screen and (max-width: 768px) {
    .status-img img {
        top: -3rem;
        left: 5rem;
        width: 34rem;
    }
} */

/* quality section */
.quality-content {
    /* padding-top: 5rem; */
    background-color: white;
}

.quality {
    padding-top: 6rem;
}

.quality img {
    width: 100%;
}

.quality .quality-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quality .quality-detail h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #0B132A;
}

.quality .quality-detail h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    margin-top: 1rem;
}

.quality .quality-detail .quality-detail-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.quality .quality-detail .quality-detail-list p {
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: 400;
    color: #4F5665;
}


/* favorite product */
.favorite-product {
    background-color: #F8F8F8;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.favorite-product .title {
    margin: 4rem;
}

.favorite-product .title h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #0B132A;
}

.favorite-product .title p {
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    border: .2rem solid #DDDDDD;
    border-radius: 1rem;
}

.card:hover {
    border-color: #6A4029;
} 

.card .product-img {
    width: 9rem;
    border-radius: 50%;
}

.card h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0B132A;
    margin-top: 6rem;
}

.card .price h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #0B132A;
}

.card .price button {
    background-color: white;
    font-size: 1.3rem;
    font-weight: 700;
    color: #6A4029;
    margin-top: 1rem;
    padding: .5rem 3rem;
    border: .2rem solid #FFBA33;
    border-radius: 2rem;
}

.card .price button:hover {
    transform: scale(1.1);
    background-color: #FFBA33;
    transition: .5s;
}

.card .price button:active {
    position: relative;
    top: .2rem;
}

.card .card-content {
    height: 23rem;
}

.card .card-content .card-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.card .card-content .card-list p {
    padding-top: 1rem;
}

/* store map */

.store-map {
    background-color: white;
}
.store-map .container {
    padding-top: 4rem;
}

.store-map h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #0B132A;
    margin-top: 1rem;
}

.store-map p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    margin-top: 1rem;
}

.store-map img {
    margin-top: 4rem;
    width: 100%;
}

/* our partner */
.sponsor {
    background-color: white;
}

.sponsor h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #0B132A;
    margin-top: 10rem;
}

.sponsor-img {
    padding-top: 4rem;
}

/* customer */
.customer {
    background-color: white;
    padding-bottom: 2rem;
}

.customer h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #0B132A;
    margin-top: 10rem;
}

.customer p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.customer .detail-customer {
    padding: 2rem 2rem 0 2rem;
    border: .2rem solid #DDDDDD;
    border-radius: 1rem;
    height: 15rem;
    margin-bottom: 4rem;
}

.customer .detail-customer:hover {
    border-color: #6A4029;
}

.customer .detail-customer .bio {
    display: flex;
    justify-content: space-between;
}

.customer .detail-customer .bio .bio-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.customer .detail-customer .bio .bio-left h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #0B132A;
    text-align: left;
}

.customer .detail-customer .bio .bio-left h6 {
    font-size: .8rem;
    font-weight: 400;
    color: #4F5665;
    text-align: left;
}

.customer .detail-customer .bio .rating {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.customer .detail-customer .bio .rating h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #0B132A;
    margin-top: .7rem;
}

.customer .detail-customer .comment p {
    font-size: 1rem;
    font-weight: 400;
    color: #0B132A;
    margin: 0;
    padding: 2rem 0;
    text-align: left;
}

.customer .arrows {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.customer .arrows .left {
    border: .2rem solid #6A4029;
    padding: 1rem;
    border-radius: 50%;
}

.customer .arrows .left:hover, .customer .arrows .right:hover {
    background-color: #FFBA33;
}

.customer .arrows .right {
    transform: rotate(180deg);
    border: .2rem solid #6A4029;
    padding: 1rem;
    border-radius: 50%;
}

/* CTA */
.promo-cta {
    position: relative;
    bottom: -5rem;
    height: auto;
    padding: 1.25rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 1px 4px rgba(106, 64, 41, 0.5);
}

.promo-cta .row{
    padding: 2rem;
}

.promo-cta img {
    width: 100%;
    height: 100%;
}

.cta-title {
    width: 50%;
    margin-bottom: 1rem;
}
.cta-subtitle {
    margin: 0;
}
.btn-see-promo {
    font-size: 1rem;
    font-weight: 700;
    width: 75%;
    padding: 1rem 0;
    border-radius: 0.75rem;
    background: #ffba33;
    color: #6a4029;
    border: none;
    box-shadow: 0 6px 20px rgba(255, 186, 51, 0.3);
    cursor: pointer;
}

.btn-see-promo:hover {
    transform: scale(1.1);
    transition: .5s;
}

.btn-see-promo:active {
    position: relative;
    top: .2rem;
}

/* footer */
footer {
    padding-top: 10rem;
    background-color: #F8F8F8;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .logo .logo-img img {
    width: 2rem;
}

footer .logo a {
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    font-weight: 700;
}

footer .about-detail {
    font-size: 1rem;
    font-weight: 500;
    color: #4F5665;
    margin: 2rem 0;
}

footer .sosmed-detail {
    display: flex;
    gap: 1rem;
}

footer .sosmed-detail .box {
    background-color: #6A4029;
    border-radius: 50%;
}

footer .sosmed-detail .box .img-logo {
    overflow: hidden;
    object-fit: cover;
}

footer .copyright p {
    font-size: 1rem;
    font-weight: 400;
    color: #AFB5C0;
    margin-top: 40px;
}

footer .content {
    display: flex;
    justify-content: flex-end;
    gap: 9rem;
}

footer .content .content-detail h2 {
    font-size: 1.15rem;
    font-weight: 500;
    color: #0B132A;
}

footer .content .content-detail ol {
    padding: 0;
}

footer .content .content-detail ol li {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    line-height: 3rem;
}

footer .content .content-detail ol li:hover {
    color: #FFBA33;
    cursor: pointer;
}

/* responsive */

/* navbar */
@media screen and (max-width: 768px) {
    .navbar .input {
        justify-content: left;
    }

    .navbar ul {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* menu content */
@media screen and (max-width: 768px) {
    .search .search-bar {
        width: 100%;
    }

    .status-img img {
        top: 5rem;
    }
}

/* store map */
@media screen and (max-width: 768px) {
    .store-map h2, .store-map p {
        padding: 0 4rem;
    }
}

/* our partner */
@media screen and (max-width: 768px) {
    .sponsor img {
        max-width: 80vh;
        padding: 0 2rem;
    }
}

/* customer */
@media screen and (max-width: 768px) {
    .customer h2, .customer p  {
        padding: 0 4rem;
    }

    .customer-2, .customer-3 {
        display: none;
    }
}

/* cta */
@media screen and (max-width: 768px) {
    .cta-title {
        width: 85%;
    }

    .btn-see-promo {
        width: 100%;
    }
}

/* footer */
@media screen and (max-width: 768px) {
    footer .row {
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
    }

    footer .content {
        gap: 4rem;
    }
}