@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.container, .full-width, .head-content, .logo-detail, .signup-content, .btn-google, .footer-container {
    display: flex;
}

.side-content, .form-content, .left-foot-content, .right-foot-content {
    flex: 1; 
}

.side-content img {
    height: 100%;
    width: 100%;
}

/* .form-content {
    flex-direction: column;
    justify-content: space-around;
} */

.head-content {
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo-detail {
    align-items: center;
}

.logo-detail h2 {
    font-size: 1.4rem;
    padding-left: .5rem;
}

.logo {
    width: 3rem;
}

.right-head-content {
    background-color: #FFBA33;
    padding: .8rem 3rem;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(255, 224, 51, 0.4);
}

.right-head-content h3 {
    user-select: none;
    color: #6A4029;
}

.right-head-content:hover {
    transform: scale(1.1);
    transition: .5s;
}

.right-head-content:active {
    background-color: #FFBA33;
    position: relative;
    top: 2px;
}

.signup-content {
    flex-direction: column;
    align-items: center;
}

.signup-content h1 {
    margin: 20px 0px;
    font-size: 2.5rem;
    color: #6A4029;
}

form {
    flex-direction: column;
    align-items: center;
}

.full-width {
    margin: .8rem 0;
    width: 100%;
}

.input-div {
    width: 70%;
    margin: 10px;
}

.input-div {
    width: 70%;
    margin: .8rem;
}

.signup-content a {
    font-size: 1rem;
    text-decoration-line: underline;
    color: #6A4029;
    font-weight: 700;
}

label {
    color: #4F5665;
    font-weight: 700;
}

input {
    display: block;
    height: 3.5rem;
    width: 100%;
    margin-top: .8rem;
    border-radius: 20px;
    padding: .8rem;
    border: 2px solid #4F5665 ;
}

.btn-signup {
    margin-top: 30px;
    background-color: #FFBA33;
    padding: 1.5rem 3rem;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(255, 224, 51, 0.4);
    width: 70%;
}

.btn-signup:hover {
    transform: scale(1.1);
    transition: .5s;
}

.btn-signup:active {
    background-color: #FFBA33;
    position: relative;
    top: 2px;
}

.btn-signup h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #6A4029;
    user-select: none;
}

.btn-google {
    margin-top: 3rem;
    background-color: white;
    padding: 1.5rem 3rem;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    width: 70%;
    justify-content: center;
    align-items: center;
}

.btn-google p {
    margin-left: 1rem;
    font-weight: 1000;
    user-select: none;
}

.btn-google:hover {
    transform: scale(1.1);
    transition: .5s;
}

.btn-google:active {
    position: relative;
    top: 2px;
}

.get-member {
    position: relative;
    display: flex;
    width: 70%;
    background-color: white;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    left: 15rem;
    bottom: 5rem;
}

.info-member {
    padding: 3rem;
}

.info-member h2 {
    width: 75%;
    font-size: 2.5rem;
    font-weight: 500;
}

.info-member p {
    margin-top: .8rem;
    font-size: 1rem;
    color: #4F5665;
}

.btn-create {
    margin-right: 40px;
    background-color: #FFBA33;
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(255, 224, 51, 0.4);
    width: 25%;
}

.btn-create:hover {
    transform: scale(1.1);
    transition: .5s;
}

.btn-create:active {
    background-color: #FFBA33;
    position: relative;
    top: 2px;
}

.btn-create h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #6A4029;
    text-align: center;
    user-select: none;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.logo-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-detail img {
    width: 2rem;
}

.logo-detail h2 {
    font-size: 1rem;
    padding-left: .5rem;
}

.left-foot-content {
    margin: 5rem;
}

.about-detail {
    margin-top: 1.8rem;
    width: 60%;
}

.about-detail p {
    font-size: 1rem;
    font-weight: 500;
    color: #4F5665;
    margin: 2rem 0;
}

.sosmed-detail {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 30%;
    gap: 2rem;
}

.back-logo {
    background-color: #6A4029;
    padding: 15px;
    position: relative;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.img-logo {
    position: absolute;
    bottom: -1px;
    overflow: hidden;
    object-fit: cover;
}

.copyright {
    font-size: 1rem;
    font-weight: 400;
    color: #AFB5C0;
    margin-top: 40px;
}

.right-foot-content {
    display: flex;
    justify-content: flex-end;
    gap: 9rem;
    margin: 4rem;
}

.content-detail h2 {
    font-size: 1.15rem;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 2rem;
}

.content-detail ol li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    line-height: 3rem;
}

.content-detail ol li:hover{
    color: #FFCB65;
    cursor: pointer;
}

/* responsive */

/* main content */
@media screen and (max-width: 768px) {
    .side-content {
        display: none;
    }

    .get-member {
        flex-direction: column;
        justify-content: center;
        left: 7rem;
        bottom: -1rem;
    }

    .btn-create {
        margin-right: 0;
        margin-bottom: 2rem;
        width: 75%;
    }
}
/* footer */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column-reverse;
    }
}